<html>

  <head>
    <title>Laura's Blog</title>
  </head>

  <h1>My time at Django Girls</h1>
<br>
  <h2> An <em>awesome</em> day in Manchester, learning to code </h2>
<br>
<br>
  <body>
  <h3><a href="">Morning</a></h3>
<br>
With coffee in hand, I arrived to a very cool t-shirt(blue, my favourite colour!), a swag bag (stickers - yaay! One is already on my laptop) and the option of more coffee and fruit.
For the next half hour I got to know some of fellow Django Girls, before we sat down for an introductory presentation where we heard from the wonderful and generous sponsors, volunteers and organizers. After that, we headed upstairs where the Windows users were situated, to get started on tutorials. </body>
<br>
  <h4> <a href="">Lunch </a></h4>
<br>
Yaay! Food. One of my favourite things. Closely followed by my dogs.
<br>
<br>
  <h5> <a href="">Afternoon </a></h5>
<br>
A mad rush to combat my slowpoke morning with a productive afternoon. I had my first deploy (yaay) and then got on with HTML. I like HTML.
<br></html>
